@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');  

body {
  color: rgb(var(--foreground-rgb));
  background: white
}

.nunito {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(168, 168, 177, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}

.card {
    position: relative;
    transition: transform 0.2s;
    cursor: default;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at var(--x) var(--y), rgb(34, 34, 34), transparent);
    pointer-events: none;
    transition: opacity 0.3s;
    opacity: 0;
    z-index: 0;
}

.card:hover::after {
    opacity: 1;
}

.card > * {
    position: relative;
    z-index: 1;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: 2px; 
}

.scrollbar-hide::-webkit-scrollbar-corner {
  @apply bg-black;
}

.scrollbar-hide:hover::-webkit-scrollbar-thumb:vertical {
  @apply bg-neutral-500;
}

.scrollbar-hide::-webkit-scrollbar {
  @apply h-1.5 w-1.5 bg-black;
}

.scrollbar-hide::-webkit-scrollbar-thumb:vertical {
  @apply h-[1px] w-[1px] bg-black;
}

.scrollbar-hide:hover::-webkit-scrollbar-thumb:horizontal {
  @apply bg-neutral-500;
}

.scrollbar-hide::-webkit-scrollbar-thumb:horizontal {
  @apply h-[1px] w-[1px] rounded-xl bg-black;
}

.number-font {  
    font-family: 'Fjalla One', sans-serif;
}  

.btn-skip {
  @apply bg-white text-black p-2 flex justify-center items-center rounded-full shadow-lg cursor-pointer hover:scale-110 active:scale-100 duration-300;
}