@import "tailwindcss";

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(168, 168, 177, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}

.nunito {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.navbar-link {
  position: relative;
  text-decoration: none;
  color: #cbcbcb;
  font-size: 16px;
  padding: 1px 0;
  transition: color 0.3s ease;
}

.navbar-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #fff; /* Cor da linha */
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.navbar-link:hover {
  color: #fff;
}

.navbar-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
